{% extends "./base.html" %}
{% block title %} Productos {% endblock %}

{% block body %}

{% load static %}
{% block js %}
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script>
    $(document).ready(function() {
        $('.slider').bxSlider({
            mode: 'fade',//horizontal, vertical, fade
            auto: true,
            pause: 5000
        });
        });
</script>
<!--<script src="js/jquery.js"></script> -->


{% endblock %}
{% block css %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


{% endblock %}


<div class="slider">
    <div>
        <img src="{% static 'images/banner1.png' %}" alt="">
    </div>
    <div>
        <img src="{% static 'images/banner2.png' %}" alt="">
    </div>
    <div>
        <img src="{% static 'images/banner3.png' %}" alt="">
    </div>
</div>
<section>
<div class="container">
<div class="row">
    <div class="col-md-6">
    <form action="{% url 'SearchProducto' %}" method="get" class="d-flex my-3">
        <input type="text" class="form-control me-2" name="buscar" placeholder="Buscar productos" aria-label="Buscar productos" value="{{ request.GET.buscar }}">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    </div>
    

    <div class="container">
    <div class="row">
        <div class="col-sm-3">
        <div class="left-sidebar">
            <h2 class="productos">CATEGORÍA</h2>
    
            <div class="accordion" id="accordionExample">
            {% for categoria in categorias %}
            <div class="accordion-item my-container">
    
                <h2 class="accordion-header" id="heading{{ categoria.id }}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ categoria.id }}" aria-expanded="true" aria-controls="collapse{{ categoria.id }}">
                    <span class="badge bg-secondary me-2">+  </span>
                    <span class="ms-2">{{ categoria.Nombre }}</span>
                </button>
                </h2>
    
                <div id="collapse{{ categoria.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ categoria.id }}" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                    {% for tag in categoria.tags.all %}
                    <li><a href="#">{{ tag.Nombre }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                </div>
    
            </div>
            {% endfor %}
            </div>
    
        </div>
        </div>
            
            
<div class="col-sm-9 padding-right">
<center> <h1 class="productos">PRODUCTOS</h1> </center>
<hr>


<div class="versus1">
    {% for p in dataproducto %}
    <div class="versus">
    
        <div class="contenedor_versus">
            {% if p.foto %}
    
            <img src="{{ p.foto}}" alt="imagen producto">
            {% endif %}
            <div class="detalle">
                <h6>{{p.NombreProducto }}</h6>
                <h6>Precio: <span style="color: red;">s/{{p.PrecioActual}}</span></h6>
                <h6>Antes: <span style="text-decoration: line-through; color: gray;">s/{{p.PrecioAnterior}}</span></h6>
                <div class="button-container d-flex justify-content-center ">
                    <h4><a href="{% url 'detalle_producto' p.id %}" class="btn btn-info ">Más información</a></h4>
                </div>
            </div>
        </div>
    
    </div>


    {% endfor %}
    
</div>
{% include "paginacionproductos.html" %}
</section>

</div>

{% endblock %}