
body {
    height: 100vh;
    width: 100vw;
    
    background-color:#f1efef;
    
}

*{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    

}

/*//////////////////////////////////////*/


.readmore {
display: inline-block;
border: 1px solid #000;
padding: 10px 15px;
font-size: 12px;
text-transform: uppercase;
color: #ffffff;
background-color: #0A3871;
transition: 0.2s all ease;
font-weight: 700;
}

.readmore:active,
.readmore:focus,
.readmore:hover {
outline: none;
}

.readmore:hover {
color: #fff;
text-decoration: none;
background: #ff0303;
}


.list-line li {
margin-bottom: 10px;
position: relative;
padding-left: 30px;
}

.list-line li:before {
content: "";
position: absolute;
left: 0;
top: 0.7rem;
width: 10px;
height: 2px;
background: #000;
}

.mb-5 p {
    text-align: left !important;
}
/*//////////////////////////////////////*/

.texto{
    
    padding-top: 1px;
    padding-left: 10px;
    margin-left: 20px;
    width: 90%;
    border: none;
    height: auto;

    
}

.navbar {
    background-image: url("../images/BG.png");
}



.nav-link {
    font-size: 18px;
    
}

#navbarNav .nav-item .nav-link:hover{
    color: rgb(195, 229, 240);
    font-size: 20px;
    font-weight: bold;
    
}


.navbar-dark .navbar-nav .nav-link {
    color: rgb(231, 222, 222);
}

p{
    text-align: center;
    
}
.productos{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
}

.table td,
    .table th {
    font-size: 20px;
    height: 40px;
    vertical-align: middle;
    }

.input-ancho {
    width: 400px !important; /* ajusta el valor de acuerdo a tus necesidades */
}

footer{
    text-align: center;
    background-image: url("../images/BG.png");
    padding: 1px;
    border-top: 1px solid #352E30;
    height: 275px;
    clear: both;
    
    
}

#main-content {
    min-height: 70vh; /* establece una altura mínima para el contenido */
    margin-bottom: 100px; /* asegura que el contenido no se superponga al footer */
}

.copyright{
    color: #fffcfc;
    font-size: 13px;
    
    position: relative;
    top: -35px;
}



h1.nombre{
    
    display: flex ;
    justify-content: center ;
    align-items: center ;
    text-align: center ;
    color: white ;
    font-weight: bold ;
    margin: 30px 0 20px 0 ;
    font-size: 40px ;
    font-weight: 700;
    text-shadow: 2px 1px 5px black ;
    text-transform: uppercase ;
    position: relative;
}

.my-table {
    max-width: 800px; /* opcional: define un ancho máximo para la tabla */
    margin: 0 auto; /* centra la tabla horizontalmente */
    
}

.text-center {
    margin: 0 auto;
}
.form-buscar {
    text-align: left;
    margin-top: -60px;
}

.contact-info {
    position: relative;
    top: -35px; /* Ajusta el valor de 'top' para cambiar la posición vertical */
}

.contact-info a {
    color: white; /* Si deseas cambiar el color del enlace */
}
.social-icons{
    position: relative;
    top: -50px;
}


.texto{
    
    padding-top: 1px;
    padding-left: 10px;
    margin-left: 20px;
    width: 90%;
    border: none;
    height: auto;

    
}

.versus1 {
    display: flex;
    flex-wrap: wrap;
}

.versus {
    width: 33.33%;
    margin-top: 20px;
}

.versus img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.versus .detalle{
    padding: 5px;
    
}

.versus .contenedor_versus {
    background-color: white;
    width: 80%;
    margin: auto;
    height: auto; /* ajustar la altura automáticamente */
    overflow: hidden; /* ocultar cualquier contenido que se desborde */
}

.versus .detalle h3 {
    
    overflow: hidden; /* ocultar cualquier contenido que se desborde */
}
.button-container {
    text-align: left;
}


.google-form-contenedor {
    position: relative;
    width: 100%;
    padding-top: 160%; /* Ajustar esta propiedad según las dimensiones del formulario */
    overflow: hidden;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
} 



/*###################################################*/
/*###################################################*/
/*###################################################*/





@media (max-width: 767px) {
    .table td,
    .table th {
    font-size: 13px;
    height: 40px;
    vertical-align: middle;
    }



h1.nombre{
    font-weight: 700;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    text-align: center ;
    color: white ;
    font-weight: bold ;
    margin: 30px 0 20px 0 ;
    font-size: 22px ;
    font-weight: 700;
    text-shadow: 2px 1px 5px black ;
    text-transform: uppercase ;
    position: relative;
}
.texto{
    
    padding-top: 1px;
    padding-left: 10px;
    margin-left: 22px;
    width: 90%;
    border: none;
    height: auto;

    
}



.logo-sm {
    width: 185px;
    height:100px;
}



.contact-info {
    position: relative;
    top: -7px; /* Ajusta el valor de 'top' para cambiar la posición vertical */
}


.social-icons{
    position: relative;
    top: -25px;
}

.copyright{
    color: #fffcfc;
    font-size: 13px;
    
    position: relative;
    top: -19px;
}

footer{
    text-align: center;
    background-image: url("../images/BG.png");
    padding: 1px;
    border-top: 1px solid #352E30;
    height: 220px;
    clear: both;
    
    
}
.input-ancho {
    width: 200px !important; /* ajusta el valor de acuerdo a tus necesidades */
}

.form-control {
    font-size: 13px;
    font-family: 'Inter';
}




.versus {
    width: 100%;
    margin-top: 20px;
}
.versus .contenedor_versus {
    background-color: white;
    max-width: 600px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
}
.versus img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.versus .detalle {
    padding: 5px;
    height: 100%;
}

.sm{
    font-size: 22px;
    font-family: 'Inter';
}
.btn-outline-success {
    font-size: 13px;
    font-family: 'Inter';
    width: 60;
    height:35px;
    display: flex ;
}

.google-form-contenedor {
    padding-top: auto; /* Ajustar esta propiedad según las dimensiones del formulario */
}


}



